# non-public features

collectivizer.ts
collaborator.ts
collaborator.js

# wasm output directories
wasm/target
# wasm-pack always puts a .gitignore in here; if you want to not ignore it,
# you'll need to delete it within the dir (for now, see
# https://github.com/rustwasm/wasm-pack/pull/1131)
wasm/pkg

# user-custom code
src/other/userScript/

# Build
dist
logs
main.js

# User's Push Information
screeps.json
config.yml

# Visual Studio cache/options directory
.vs

# npm
node_modules
package-lock.json

# Other Stuff
.env
log.log
push.log
/.VSCodeCounter
tmp-test-server
coverage
.envrc
.screeps.yaml

.idea/
